body div {
    margin: 0 auto;
    width: 80%;
    font-family: 'Verdana', sans-serif;
}

.item {
    position: relative;
    padding: 25px 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.title {
    margin: 0;
    font-size: 20px;
    color: #0072bc;
}

.text {
    padding: 15px 10px;
    border-radius: 5px;
}

i {
    position: absolute;
    top: 25px;
    right: 10px;
    color: #0072bc;
}

.active {
    background-color: #0072bc;
}

.active .title, .active i {
    color: black;
}

.active p {
    padding: 15px 10px;
    font-size: 16px;
    background-color: #8CB0DC;
}
