body {
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: 40px auto; 
    font-family: 'Verdana', sans-serif;
}

.countries {
    display: inline-block;
    width: 30%;
}

.country {
    padding: 10px;
    margin-bottom: 4px;
    color: #0072bc;
    background-color: #f0f0f0;
}

.country__text {
    margin: 0;
    padding: 10px 0;
    color: black;
    font-size: 14px;
}

.country__title {
    margin: 0;
    font-size: 20px;
}
.container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.city_container {
    width: 65%;
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
}

.city_container .add__Btn {
    border: none;
    padding: 13px 20px;
    color: white;
    font-size: 20px;
    background-color: #0072bc;
    border-radius: 5px;
}

.add__Btn {
    margin-bottom: 15px;
}

.add__Form {
    margin-bottom: 10px;
}

.add__Form input {
    display: block;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #4d4d4d;
}

.add__Form p {
    color: #0072bc;
    font-size: 18px;
    font-weight: 700;
}

.add__Form button  {
    border: none;
    padding: 10px 20px;
    margin-right: 5px;
    color: white;
    font-size: 20px;
    background-color: #0072bc;
    border-radius: 5px;
}

.city {
    position: relative;
    width: 100%;
    padding: 10px;
    color: #4d4d4d;
    border: 1px solid #d4d4d4;
    border-bottom: none;
}

.city:last-child {
    border-bottom: 1px solid #d4d4d4;
}

.city input {
    display: block;
    width: 95%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #4d4d4d;
}

.city button {
    border: none;
    padding: 10px 20px;
    margin-right: 5px;
    color: white;
    font-size: 20px;
    background-color: #0072bc;
    border-radius: 5px;
}

.city h4 {
    font-size: 20px;
}

.city p {
    font-size: 14px;
}

.city i {
    margin-right: 10px;
}

.city__icons {
    position: absolute;
    right: 15px;
    top: 40px;
}

.cancel {
    background-color: #fff !important;
    color: #4d4d4d !important;
    border: 1px solid #4d4d4d !important;
}

.active__country {
    color: white !important;
    background-color: #0072bc !important;
}

.active__country p {
    color: white !important;
}